.scrollContainer {
    overflow: hidden;
  }
  
  .logosContainer {
    display: flex;
    animation: scrollLeft 20s linear infinite;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    background-color: #f1c40f; /* You can change the background color as desired */
  }
  
  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2000px); /* Change this value based on the total width of the logos */
    }
  }